# Public hostname or IP that clients will use (must match reality)
WG_HOST=109.172.93.80

# Password for wg-easy web UI (change this)
WG_EASY_PASSWORD_HASH=$2a$12$63wV5NatciTBdcp5.tcbXutUlgITRd4eVt5/7rHPjT1d3Y8AE04rG
